.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

H1{
    font-family: 'Times New Roman', Times, serif;
}

#Face {
    height: 40px;
}

#Goog {
    height: 40px;
    margin: auto;
}

.mb-4 {
    margin: auto;
    display: block;
    border: 4px solid blue;
}