
.contenido{
background: #ADA996;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FDFFCF, white,#FDFFCF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right,#FDFFCF, white,#FDFFCF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
background-size: cover;
z-index: 99;
text-align: center;
padding-bottom: 10%;
margin-left: 10%;
margin-right: 10%;
font-family: 'Courier New', Courier, monospace !important;
}

.contenido_chiquito{
    background: #ADA996;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FDFFCF, white,#FDFFCF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FDFFCF, white,#FDFFCF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
background-size: cover;
z-index: 99;
text-align: center;
padding-bottom: 5%;
margin-left: 35%;
margin-right: 35%;
font-family: 'Courier New', Courier, monospace !important;
}

body {
    background-image: url("./fondo.jpg");
}

#error {
    text-align: center;
}

#button_temas{
    width: 500px;
}

table{
   margin: auto; 
}

.bigboi{
    width: 80%;
}


p{
    font-family: 'Courier New', Courier, monospace !important;
}

h2{
    font-family: 'Courier New', Courier, monospace !important;
}

.margin {
    margin:8px;
}

#Description {
    height: 100px;
    width: 300px;
}